@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

$primary-background-color: #ffeedf;
$secondary-background-color: #145434;

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background-color: $primary-background-color;
}
.material-icons {
  font-size: 36px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: $primary-background-color;
  color: $secondary-background-color;
  border-bottom: 1px solid grey;
  z-index: 100;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  max-width: 1200px;
  margin: 100px auto;
  padding: 30px;

  .card {
    position: relative;
    width: 100%;
    max-width: 320px;
    background-color: $secondary-background-color;
    color: $primary-background-color;
    padding: 30px;
    div {
      position: absolute;
      top: -20px;
      left: -20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid gray;
      font-size: 24px;
      background-color: $primary-background-color;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $secondary-background-color;
    }
    h2 {
      font-size: 36px;
      font-weight: 400;
      border-bottom: 1px solid $primary-background-color;
      min-height: 100px;
    }
    h4 {
      margin-top: 15px;
      font-size: 18px;
      font-weight: 400;
    }
    p {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    button {
      position: absolute;
      right: -10px;
      bottom: -10px;
      width: 200px;
      height: 50px;
      font-size: 14px;
      background-color: $primary-background-color;
      border: 2px solid $secondary-background-color;
      color: $secondary-background-color;

      span {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:hover {
        color: $primary-background-color;
        border-color: $primary-background-color;
        background-color: $secondary-background-color;
      }
    }
  }
}
